body {
    background: url(https://i.ytimg.com/vi/dJWr-4srFig/maxresdefault.jpg);
    background-size: cover;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 12px;
}

h1 {
    font-size: 2rem;
}

.track-option {
    display: inline-block;
    cursor: pointer;
}

.track-option span {
    display: block;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

li {
    display: block;
    font-size: 1.2rem;
}

ol {
    padding: 0px;
    margin: 0px;
}